# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- George
- Ryan
- Sonny
- Yong

# Group Members IDs

- George Hu - A13679845
- Ryan Shim - A12820194
- A########
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: NBA Players
- Link to the dataset: https://www.kaggle.com/drgilermo/nba-players-stats
- Number of observations: 3922 rows x 8 columns for players

1-2 sentences describing each dataset. 

This dataset records all the players that have played in the NBA from the 1950 to 2017 seasons.

- Dataset Name: NBA Seasonal Player stats
- Link to the dataset: https://www.kaggle.com/drgilermo/nba-players-stats
- Number of observations: 24691 rows Ã— 53 columns for seasons

1-2 sentences describing each dataset. 

This dataset records all the players' seasonal stats per year starting from 1950 to 2017.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

We intend to use the player weight/height columns from the players dataframe and merge it into the seasonal stats dataframe in order to be able to access weights/heights of the entire NBA per season.

# Setup

In [10]:
## YOUR CODE HERE
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import animation

# Data Cleaning

Describe your data cleaning steps here.

We took our data from https://www.kaggle.com/drgilermo/nba-players-stats and combined the two CSVs in player_data.csv and Season_Stats.csv in order to make our dataframe.

In [25]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION
players = pd.read_csv('Players.csv')
seasons = pd.read_csv('Seasons_Stats.csv')

# These lines drops all the rows of players and seasons where the Player name is null
players = players[pd.isnull(players.Player) == 0]
seasons = seasons[pd.isnull(seasons.Player) == 0]

# These lines add the player's heights and weights to the seasonal data
seasons['height'] = seasons.Player.apply(lambda x: players.height[players.Player == x].values[0])
seasons['weight'] = seasons.Player.apply(lambda x: players.weight[players.Player == x].values[0])

In [26]:
# This is in a separate cell so that seasons don't have to be loaded multiple times
print(seasons['height'])
print(seasons['weight'])

0        180.0
1        188.0
2        193.0
3        196.0
4        196.0
5        196.0
6        178.0
7        180.0
8        196.0
9        196.0
10       196.0
11       183.0
12       196.0
13       196.0
14       193.0
15       208.0
16       190.0
17       196.0
18       196.0
19       185.0
20       193.0
21       193.0
22       208.0
23       196.0
24       190.0
25       190.0
26       190.0
27       183.0
28       196.0
29       193.0
         ...
24661    190.0
24662    190.0
24663    190.0
24664    190.0
24665    190.0
24666    190.0
24667    206.0
24668    206.0
24669    206.0
24670    185.0
24671    201.0
24672    198.0
24673    198.0
24674    198.0
24675    208.0
24676    201.0
24677    213.0
24678    211.0
24679    190.0
24680    211.0
24681    196.0
24682    198.0
24683    188.0
24684    201.0
24685    203.0
24686    213.0
24687    213.0
24688    213.0
24689    203.0
24690    216.0
Name: height, Length: 24624, dtype: float64
0         77.0
1         83.0
2         86.0
3         88.0
4         88.0
5         88.0
6         79.0
7         79.0
8         90.0
9         90.0
10        90.0
11        77.0
12        90.0
13        95.0
14        95.0
15       102.0
16        79.0
17        97.0
18        81.0
19        81.0
20        83.0
21        92.0
22       106.0
23        99.0
24        86.0
25        79.0
26        81.0
27        77.0
28        90.0
29        88.0
         ...
24661     90.0
24662     90.0
24663     90.0
24664     90.0
24665     90.0
24666     90.0
24667     90.0
24668     90.0
24669     90.0
24670     89.0
24671     86.0
24672     97.0
24673     97.0
24674     97.0
24675    108.0
24676    102.0
24677    104.0
24678     99.0
24679     81.0
24680    102.0
24681     83.0
24682     97.0
24683     81.0
24684     95.0
24685    100.0
24686    108.0
24687    114.0
24688    108.0
24689     97.0
24690    120.0
Name: weight, Length: 24624, dtype: float64

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*